* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
}

body {
  background-color: #4387ca;  /* clean background */
  color: #333;
  line-height: 1.6;
}

.navbar
{
  height:5rem;
}